<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Error 404</title>
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>

	OPS, parece que el enlace que has seguido no era el correcto
	
</body>
</html>