<header class="menu">
	<ul class="options optionsLeft">
		<div class="skew"><li><a href="/profile">Perfil</a></li></div>
		<div class="skew"><li><a href="/news">Noticias</a></li></div>
	</ul>

	<div class="logo">
		<img src="images/web/logo.png" alt="Geek Card Game Logo" title="Geek Card Game" />
		<div class="divPlay"><a href="/game">Jugar</a></div>
	</div>

	<ul class="options optionsRight">
		<div class="skew"><li><a href="/sabiduria">Sabiduria</a></li></div>
		<div class="skew"><li><a href="/videos">Vídeos</a></li></div>
	</ul>
</header>
<!-- /header -->