<header class="menu">
	<ul class="options optionsLeft">
		<a href="#"><div class="skew"><li>Perfil</li></div></a>
		<a href="#"><div class="skew "><li>Noticias</li></div></a>
	</ul>

	<div class="logo">
		<img src="images/web/logo.png" alt="Geek Card Game Logo" title="Geek Card Game" />
		<a href="#" class="btnPlay"><div class="divPlay">Jugar</div></a>
	</div>

	<ul class="options optionsRight">
		<a href="/sabiduria"><div class="skew "><li>Sabiduria</li></div></a>
		<a href="/videos"><div class="skew waves-teal waves-effect"><li>Vídeos</li></div></a>
	</ul>
</header>
<!-- /header -->