<header class="menu">
	<ul class="options optionsLeft">
		<a href="/"><div class="skew"><li>Inicio</li></div></a>
		<a href="/news"><div class="skew"><li>Noticias</li></div></a>
		<a href="/profile"><div class="skew"><li>Perfil</li></div></a>
	</ul>

	<div class="logo">
		<img src="images/web/logo.png" alt="Geek Card Game Logo" title="Geek Card Game" />
		<a href="/play"><div class="btnPlay">Jugar</div></a>
	</div>

	<ul class="options optionsRight">
		<a href="/login"><div class="skew"><li>Iniciar sesión</li></div></a>
		<a href="/register"><div class="skew"><li>Registrarse</li></div></a>
		<a href="/logout"><div class="skew"><li>Cerrar sesión</li></div></a>
	</ul>
</header>
<!-- /header -->