<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Geek Card Game</title>
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

	<% include header.ejs %>

	<div class="news">
		Bienvenidos a <%= title %>
	</div>
	
</body>
</html>