<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GeekCard Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/fontello.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/icomoon-style.css" />
	<meta name="description" content="GeekCardGame es un juego de cartas LCG/RTS al más puro estilo Fire Emblem, ¿te atreves a probarlo?">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="GeekCardGame"/>
	<meta property="og:type" content="videojuegos;videogame;geekcardgame;videojuego gratis"/>
	<meta property="og:description" content="GeekCardGame es un juego de cartas LCG/RTS al más puro estilo Fire Emblem, ¿te atreves a probarlo?"/>
	<meta property="og:image" content="https://geekcardgame.com/images/web/geekcardgame-logo.png" />
	<meta property="og:image:width" content="500" />
	<meta property="og:image:heigth" content="300" />
	<meta property="og:url" content="https://geekcardgame.com/"/>
	<meta property="og:site_name" content="GeekCardGame"/>
	<script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8" ></script>
	<script src="/javascripts/showMenu.js"></script>
	<script src="/javascripts/render.js"></script>
</head>

<body>

	<nav class="toggleMenu">
			<i class="icon-menu"></i>
	</nav>

	<header class="menu">
		<ul class="options optionsLeft">
			<div class="skew"><li><a>Perfil</a></li></div>
			<div class="skew"><li><a>Noticias</a></li></div>
		</ul>

		<div class="logo">
			<img src="/images/web/geekcardgame-logo.png" alt="Geek Card Game Logo" title="Geek Card Game" />
			<div class="divPlay"><a href="/game">Jugar</a></div>
		</div>

		<ul class="options optionsRight">
			<div class="skew"><li><a>Sabiduria</a></li></div>
			<div class="skew"><li><a>Vídeos</a></li></div>
		</ul>
	</header>
	<!-- /header -->

	<div class="bg-blur"></div>
	<div class="container"></div>
</body>
</html>