<div class="news-container">

	<div class="new-title">
		<%= loadedNew.title %>
	</div>

	<div class="new-body">
		<div class="new-img">
			<img src="<%= loadedNew.imgUrl %>">
		</div>


		<%- cuerpo %>
	</div>
</div>


<link rel="stylesheet" type="text/css" href="/stylesheets/loadedNew.css" />