<!DOCTYPE html>
<html>
<head>
	<title>Noticia - <%= loadedNew.title %></title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/loadedNew.css" />
</head>
<body>

	<% include header.ejs %>

	<div class="container">
		<div class="news-container">

			<div class="new-title">
				<%= loadedNew.title %>
			</div>

			<div class="new-body">
				<div class="new-img">
					<img src="<%= loadedNew.imgUrl %>">
				</div>


				<%= loadedNew.body %>
			</div>
		</div>
	</div>
</body>
</html>