<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

<% include header.ejs %>

</head>
<body>
	<div class="container">
	<%- loadedNew.title %>
	</div>
</body>
</html>