<% for (var i = 0; i < news.length; i++) { %>

	<a class="new" data-title="<%= news[i].title %>">
		<article class="new-container">
			<div class="new-img">
				<img src="<%= news[i].imgUrl %>" alt="new" />

				<div class="new-content">
					<div class="new-title"><%= news[i].title %></div>
				</div>
			</div>			
		</article>
	</a>
<% } %>


<title>Noticias</title>
<link rel="stylesheet" href="/stylesheets/news.css">