doctype html
html
	head
		title News
		meta(charset="UTF-8")
		meta(http-equiv='X-UA-Compatible', content='IE-Edge')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/news.css')
