<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Noticias</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<% include header.ejs %>

<div class="container">
	
	<% for (var i = 0; i < news.length; i++) { %>
		<article>
			<div class="new-img"><img src="<%= news[i].imgUrl %>"></div>
			<div class="title"><%= news[i].title %></div>
			<div class="body"><%- news[i].body %></div>
		<article>
	<% } %>
	
</div>
	
</body>
</html>