<div class="options">
	<form action="/logout?_method=DELETE" method="POST" accept-charset="utf-8">
		<button type="submit">Cerrar sesión</button>
	</form>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">