<div class="container">
	
	<div class="wisdomMenu">
		<ul>
			<li><span class="icon-cards"></span>Cartas</li>
			<li><span class="icon-movement"></span>Movimiento</li>
			<li><span class="icon-skull"></span>Enemigos</li>
			<li><span class="icon-attack"></span>Ataque</li>
			<li><span class="icon-turns"></span>Turnos</li>
			<li><span class="icon-end"></span>Fin de partida</li>
		</ul>
	</div>
	<div class="textContainer"></div>
</div>

<div class="cartas">
	<h1>Cartas</h1>
	
	<p>La carta la podemos dividir en las siguientes piezas.</p>
	<div class="imgContainer">
		<img src="/images/web/geekcardgame-cartas.gif" alt="Cartas"/>
	</div>
	
	<p> Las cartas se situarán en la parte inferior de la pantalla de manera ordenada. Para poder jugarla, deberemos tener maná suficiente para jugar cada carta. El maná se indicará con una barra en el lado izquierdo. Además, las cartas que sean jugables, aparecerán remarcadas en azul.</p>
	<p> Para poner una carta en juego, deberemos seleccionarla haciendo clic en ella, y a continuación, seleccionar donde queremos que se coloque en el mapa.</p>
	<div class="imgContainer">
		<img src="/images/web/geekcardgame-poner.gif" alt="Poner"/>
	</div>

</div>

<div class="movimiento">
	<h1> Movimiento </h1>

	<p>Solamente se podrán mover los personajes que esten en nuestro bando. Para saber cuantas casillas pueden moverse, tendremos que fijarnos en el número que esta sombreado con negro. </p>
	<p>Para ver todas las casillas a las que puede moverse, pasaremos el raton por encima, de esta amanera aparecerá la guia.</p>

	<div class="imgContainer">
		<img src="/images/web/geekcardgame-movimientoRatonEncima.gif" alt"Movimiento ratón encima">
	</div>
	
	<p>Cuando queramos mover al personaje, tendremos que hacer clic encima, la guia que antes veíamos de color gris, se convertirá en azul. A continuación, seleccionaremos la casilla a la que queramos movernos y se dirigirá al lugar indicado.</p>

	<div class="imgContainer">
		<img src="/images/web/geekcardgame-movimientoClic.gif" alt="Movimiento click">
	</div>
</div>

<div class="enemigos">
	<h1>Enemigos</h1>
	
	<p>Los enemigos solamente atacaran en el turno del enemigo. Para pasar de turno, deberemos hacer clic en el botón "Fin de turno"</p>
	
	<div class="imgContainer">
		<img src="/images/web/geekcardgame-enemigos.gif" alt="Enemigos" />
	</div>
</div>

<div class="ataque">
		<h1>Ataque</h1>
		
		<p> Para atacar a un enemigo, deberemos seleccionar el aliado con el que queramos atacar, y seguidamente, hacer clic encima del enemigo objetivo</p>

		<div class="imgContainer">
			<img src="/images/web/geekcardgame-ataque.gif" alt="Ataque"/>
		</div>		
</div>

<div class="turnos">
		<h1>Turnos</h1>
		
		<p>Pasar de turno nos servirá para recargar los movimientos de tus aliados y volver a llenar la barra de maná. Cuando pases tu turno, los enemigos se moverán para atacarte. Seguidamente, te volverá a tocar a tí.</p>

		<div class="imgContainer">
			<img src="/images/web/geekcardgame-turnos.gif" alt="Turnos"/>
		</div>	
</div>

<div class="findepartida">
	
	<h1>Fin de partida</h1>
	
	<p>Tenemos dos posibilidades para acabar la partida:</p>	
	<p>La primera será llevar a nuestro jugador principal, Sybil, a la casilla de salida. De esta manera ganaremos la fase.</p>
	
	<div class="imgContainer">
		<img src="/images/web/geekcardgame-finpartida1.png" alt="Fin de partida" /> 
	</div>
	
	<p>Si por el contrario Sybil cae en la batalla... que muere... que sus puntos de vida llegan a 0, habremos perdido la partida.</p>
</div>

<link rel="stylesheet" href="/stylesheets/wisdom.css" />
<script src="/javascripts/wisdom.js"></script>