<div class="container">
	
	<div class="wisdomMenu">
		<ul>
			<li><span class="icon-cards"></span>Cartas</li>
			<li><span class="icon-movement"></span>Movimiento</li>
			<li><span class="icon-skull"></span>Enemigos</li>
			<li><span class="icon-attack"></span>Ataque</li>
			<li><span class="icon-turns"></span>Turnos</li>
			<li><span class="icon-end"></span>Fin de partida</li>
		</ul>
	</div>
	<div class="textContainer">aki hiran ls testos xd</div>
</div>

<div class="findepartida">
	
	<h1>Fin de partida</h1>
	
	<p>Tenemos dos posibilidades para acabar la partida:</p>	
	<p>La primera será llevar a nuestro jugador principal, Sybil, a la casilla de salida. De esta manera ganaremos la fase.</p>
	
	<div class="imgContainer">
		<img src="/images/web/geekcardgame-finpartida1.png"/> 
	</div>
	
	<p>Si por el contrario Sybil cae en la batalla... que muere... que sus puntos de vida llegan a 0, habremos perdido la partida.</p>
</div>

<div class="movimiento">
	<div>
	<h1> Movimiento </h1>
	<p>Solamente se podrán mover los personajes que esten en nuestro bando. Para saber cuantas casillas pueden moverse, tendremos que fijarnos en el número que esta sombreado con negro. </p>
	<p>Para ver todas las casillas a las que puede moverse, pasaremos el raton por encima, de esta amanera aparecerá la guia.</p>
	<div>
		<img src="/images/web/geekcardgame-movimientoRatonEncima.gif">
	</div>
	
	<p> Cuando queramos mover al personaje, tendremos que hacer clic encima, la guia que antes veíamos de color gris, se convertirá en azul. A continuación, seleccionaremos la casilla a la que queramos movernos y se dirigirá al lugar indicado. </p>
	<div>
		<img src="/images/web/geekcardgame-movimientoClic.gif">
	</div>
</div>
</div>

<link rel="stylesheet" href="/stylesheets/wisdom.css" />
<script src="/javascripts/wisdom.js"></script>