label {
	display: block;
	color: white;
	font-size: 1vw;
}

input[type=text], input[type=password] {
	color: white;
	background: none;
	font-size: 1vw;
	border: none;
	border-bottom: 1px solid white;

}

input[type=submit] {
	background: none;
	border: none;
	cursor: pointer;
	padding: 1vw;
	max-width: 200px;
	width: 100%;
	font-size: 1.5vw;
}

input[type=checkbox] {
	font-size: 1.5vw;
}

.login {
	padding: 3vw;
	text-align: center;
	background-color: rgba(40,43,48,.6);
	border-radius: 10px;
	font-family: 'Open Sans';
	position: absolute;
    top: 50%;
    left: 50%;
    height: auto;    
	max-width: 600px;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.loginTitle {
	font-family: 'Roboto';
	font-size: 2vw;
	color: white;
}

.loginForm {
	margin: 1vw 0;
}

.inputBlock {
	margin: 1vw 0;
}

.inputBlock span {
	color: white;
	font-size: 1vw;
}

.btnLogin {
	background: url('/images/web/button_play.png') center;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 200px;
	width: 100%;
}