body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	margin: 2em 0 0 0;
	width: 90%;
	opacity: .9;
	font-family: "Roboto";
	color: white;
	font-size: 1em;
	display: flex;
}

.new-container {
	flex-basis: auto;
	display: flex;
	margin: 0 .5em;
	height: 100%;
}

.new-container a {
	color: white;
}

.new-img {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.new-img img {
	width: 100%;
	height: 100%;
	transitioN: all .5 ease;
}

.new-img .new-content {
	position: absolute;
	bottom: .5em;
	left: 1em;
	opacity: 0;
	transition: all .5s ease;
	font-size: 1.5em;
}

.new-img:hover .new-content {
	opacity: 1;
}

.new-img:hover img {
	background-color: #000;
	opacity: .5;
}

/* media queries responsive login */

/* breakpoint web*/
@media (max-width: 768px) {

	
}