.container {
	width: 90%;
	background-color: #333;
	margin: 0 auto;
	margin-top: 2em;
	display: flex;
	padding: 1em;
	box-sizing: border-box;
}

.new-container {
	width: 50%;
	display: inline-block;
	margin-right: -0.3%;
}

.new-content {
	font-size: 1em;
	color: white;
}