label {
	display: inline-block;
	width: 350px;
	text-align: right;
	font-size: 1vw;
}

input {
	max-width: 300px;
	width: 100%;
	border: none;
	background-color: #CCC;
	padding: 0.7vw;
	margin: 0.5vw 0;
}

input[type=submit] {
	cursor: pointer;
}

.bg-register {
	background-image: url('/images/web/register-bg.jpg');
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

.register {
	position: relative;
	max-width: 960px;
	width: 100%;
	margin: 1vh auto;
	padding: 3vw;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	font-family: 'Open Sans';
}

.registerTitle {
	font-family: 'Roboto';
	font-size: 2vw;
}

.registerForm {
	margin: 1vw 0;
}

.fa-check-circle {
	color: green;
}

.fa-times-circle {
	color: red;
}