/* Load fonts */

@font-face {
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: 'Roboto';
}

@font-face {
	src: url('../fonts/OpenSans-Regular.ttf');
	font-family: 'Open Sans';
}

/* General rules */

body {
	margin: 0; /* Reset the browser's values */
	padding: 0; /* Reset the browser's values */
	background-color: #261911;
}

a {
	text-decoration: none;
	color: black;
}

/* menu */

.menu {
	background: url('/images/web/background.png');
	background-size: 100% 100%;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 1.5vh;
	text-align: center;
	font-family: 'Roboto';
}

.options {
	display: inline-block;
	list-style: none; /* Reset the browser's values */
	margin: 0; /* Reset the browser's values */
	padding: 0; /* Reset the browser's values */
	max-width: 400px;
	width: 100%;
}

.optionsLeft {
	transform: skewX(15deg);
	-ms-transform: skewX(15deg); /* IE 9 - Edge */
	-webkit:transform: skewX(15deg); /* Opera, Safari, Chrome */
}

.optionsLeft li {
	transform: skewX(-15deg);
	-ms-transform: skewX(-15deg); /* IE 9 - Edge */
	-webkit:transform: skewX(-15deg); /* Opera, Safari, Chrome */
}

.optionsRight {
	transform: skewX(-15deg);
	-ms-transform: skewX(-15deg); /* IE 9 - Edge */
	-webkit:transform: skewX(-15deg); /* Opera, Safari, Chrome */
}

.optionsRight li {
	transform: skewX(15deg);
	-ms-transform: skewX(15deg); /* IE 9 - Edge */
	-webkit:transform: skewX(15deg); /* Opera, Safari, Chrome */
}

.options a {
	max-width: 150px;
	width: 100%;
	display: inline-block;
}

.options li {
	display: inline-block;
}

.skew {
	display: inline-block;
	padding: 0.5vw 0vw;
	background-color: #FEC23E;
	color: black;
	max-width: 150px;
	width: 100%;
	transition-property: background-color, color, box-shadow;
	transition-duration: 1s;
	border: 3px solid #EFA400;
}

.skew:hover {
	background-color: #246ede;
	color: #111;
	box-shadow: inset #111 -2px -2px 5px;
}

.logo {
	display: inline-block;
	max-width: 150px;
	width: 100%;
	vertical-align: middle;
	margin: 0 2vw;
}

.logo img {
	max-width: 150px;
	width: 100%;
	margin: 0.5vw 0;
}

.btnPlay {
	background: url('/images/web/button_play.png') center;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 200px;
	width: 100%;
}

.divPlay {
	padding: 1vw;
}